.login-container {
	width: 100vw;
	height: 100vh;
	background-color: rgb(206, 206, 206);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form-div {
	max-height: 80%;
	min-height: 50%;
	background-color: white;
	border: solid 2px black;
	border-radius: 10px;
	max-width: 30%;
	min-width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	margin-top: 100px;
	box-sizing: border-box;
	padding: 20px;
}

.heading-slotify {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

label {
	align-self: flex-start;
}

.input-text {
	width: 250px;
	height: 30px;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 3px;
	background-color: #f9f9f9;
}

.btn-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	margin-top: 20px;
}

.login-btn {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	align-self: center;
}
.login-btn:hover {
	background-color: #333333;
	transform: scale(1.05);
}
.signup-btn {
	background-color: transparent;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.terms-group {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.terms-div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.terms-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(4px);
}

.terms-content {
	width: 50%;
	height: auto;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	overflow-y: auto;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.terms-btn {
	margin-top: 10px;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	align-self: center;
}
