.login-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(119, 119, 119, 0.256);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 0;
}

.header-img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* för att bilden inte ska förvrängas */
	position: absolute;
	opacity: 0.5; /* istället för backdrop-filter */
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.532); /* mörk overlay */
	backdrop-filter: blur(4px); /* lägger på blur */
	z-index: 1;
}

.form-div {
	max-height: 70%;
	min-height: 50%;
	background-color: white;
	border: solid 2px black;
	border-radius: 10px;
	max-width: 30%;
	min-width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	margin-top: 100px;
	box-sizing: border-box;
	padding: 20px;
	z-index: 100;
	position: relative;
}

.heading-slotify {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

label {
	font-size: 1rem;
	color: #333;
	font-weight: 500; /* Ger en snygg typsnittsstil */
	margin-bottom: -10px;
}
.input-text {
	width: 250px;
	height: 30px;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 3px;
	background-color: #f9f9f9;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-text:focus {
	border-color: #4a90e2;
	box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
	outline: none;
}

.btn-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

.login-btn {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	align-self: center;
}
.login-btn:hover {
	background-color: #333333;
	transform: scale(1.05);
}
.signup-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.signup-btn {
	background-color: transparent;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
