.terms-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.alreadyBooked-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.alreadyBooked-content {
  width: 50%;
  height: auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
