/* Grundläggande layout för container */
.container {
	max-width: 90vw;
	margin: 0 auto;
	padding: 20px;
}

/* Styling för själva tabellen */
.table-content {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 16px;
	margin-top: 20px;
	min-height: 400px;
	overflow-x: auto;
}

/* Styling för headern */
.thead-container {
	background-color: #f5f5f5;
	padding: 12px;
	border-bottom: 2px solid #ddd;
}

/* Förbättrad styling för th i thead */
thead th {
	font-size: 18px;
	padding: 12px 20px;
	border: 1px solid #ddd;
	text-align: center;
	color: #333;
	background-color: #f0f0f0;
	text-transform: uppercase;
}

/* Förbättrad styling för th när musen hovrar */
thead th:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* Styling för raderna i tabellen */
tbody tr {
	font-size: 16px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Styling för tds i tbody */
tbody td {
	padding: 10px 20px;
	border: 1px solid #ddd;
	text-align: center;
	color: #555;
	transition: background-color 0.3s;
}

/* Alternativa rader */
tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

tbody tr:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Styling för "seat" div */
.seat-div {
	margin: 2px;
	padding: 10px 12px;
	border-radius: 4px;
	background-color: #e0e0e0;
	cursor: pointer;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover-effekt för seat-div */
.seat-div:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	background-color: #c0c0c0;
	border: 1px solid #333;
	transform: scale(1.05);
}

/* Aktivt vald seat-div */
.seat-div.selected {
	background-color: #6a94e6;
	color: white;
	border: 1px solid #3b5cc4;
}

/* Fokus på seat-div när den är vald */
.seat-div:focus {
	outline: none;
	box-shadow: 0 0 8px rgba(102, 153, 255, 0.7);
}
