.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
}

.table-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 20px;
}

.thead-container {
  background-color: #f5f5f5;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

thead th {
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  text-align: center;
  color: #333;
  background-color: #f0f0f0;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
}

thead th:hover {
  background-color: #ddd;
  cursor: pointer;
}

tbody tr {
  font-size: 16px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 6px 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #555;
  transition: background-color 0.3s;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.seat-div {
  margin: 1px;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.seat-div:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #c0c0c0;
  border: 1px solid #333;
  transform: scale(1.05);
}

.seat-div.selected {
  background-color: #6a94e6;
  color: white;
  border: 1px solid #3b5cc4;
}

.seat-div:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(102, 153, 255, 0.7);
}
.terms-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.alreadyBooked-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.alreadyBooked-content {
  width: 50%;
  height: auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
